<%- include("header") -%>

  <div class="box", id="heading">
    <h1 id="heading"> <%= typeOfList %> </h1>
  </div>

  <div class="box">
      <% for (var i=0; i<listItems.length; i++){ %>
      <div class="item">
        <input type="checkbox">
        <p><%= listItems[i] %></p>
      </div>
      <% } %>
      <form action="/" method="post">
        <input type="text" name="newItem" placeholder="new item" autocomplete="off">
        <button type="submit" name="add" value="<%= typeOfList %>">+</button>
      </form>
  </div>

  <%- include("footer") -%>
